<div style="width: 600px;">
	<div style="padding-top:20px; padding-left:20px; padding-right:20px;">
		<BsForm @formLayout="vertical" as |form|>
      <div style="padding: 0px;">
        <label for="localGitPath">Path to local Git</label>
        <Input id="localGitPath" @type="text" class="form-control" @value={{this.localGitPath}}/>
      </div>
			<div style="padding-top:20px; padding-left: 0px;">
				<BsButton @type="success" @outline={{true}} @onClick={{action "save" }}>Save</BsButton>
			</div>
		</BsForm>
	</div>
</div>
